body {
  width: 1440px;
  height: 496px;
  background: #fff;
}
a {
  display: block;
  margin-top: 28px;
  margin-left: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}

.form-wrapper {
  display: flex;
  column-gap: 8px;
  width: 355px;
  height: 40px;
  margin-top: 36px;
  margin-left: 156px;
}

input#datetime-picker {
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 16px;
  outline: transparent;
}

input#datetime-picker:hover {
  border-color: #000;
  color: #2e2f42;
}

input#datetime-picker:focus {
  border-color: #4e75ff;
}

input#datetime-picker:disabled {
  border-color: #808080;
  color: #808080;
  cursor: not-allowed;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  background: #4e75ff;
  color: #fff;
  cursor: pointer;
  border: transparent;
}

button:disabled {
  background: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

button:focus {
  background: #6c8cff;
}

.timer {
  width: 346px;
  height: 72px;
  margin-top: 36px;
  margin-left: 156px;
  display: flex;
  column-gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 72px;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-left: auto;
  margin-right: auto;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.hours {
  width: 61px;
}

.minutes {
  width: 76px;
}

.seconds {
  width: 82px;
}
